@font-face {
    font-family: "pokemon";
    src: url("../fonts/Ketchum.otf");
}


* {
    font-family: "pokemon";
}

html, body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/************ MENÚ DE SELECCIÓN DE VS *************/
.game-mode-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px gray;
    text-align: center;
    color: white;
}

.game-mode-selection button {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 10px;
    background-color: yellow;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.game-mode-selection button:hover {
    background-color: orange;
}


/************ MENÚ DE SELECCIÓN DE PERSONAJE *************/
.character-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px gray;
    text-align: center;
    color: white;
}

.character-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.character-container img {
    width: 150px;
    height: auto;
    border-radius: 5px;
}

.character-container button {
    font-size: 20px;
    background-color: yellow;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 5px;
}

.character-container button:hover {
    background-color: orange;
}

.start-game {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    background-color: yellow;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.start-game:hover {
    background-color: orange;
}

/************ MODAL DE SELECCIÓN DE POKÉMON *************/
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-large {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px gray;
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
    text-align: center;
    position: relative;
}

/************ ESTILOS DEL BUSCADOR Y DROPDOWN *************/
.pokemon-input {
    font-size: 18px;
    padding: 10px;
    border: 2px solid yellow;
    border-radius: 5px;
    text-align: center;
    width: 250px;
    margin: 10px;
}

.pokemon-dropdown {
    font-size: 18px;
    padding: 10px;
    border: 2px solid yellow;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    width: 250px;
    margin: 10px;
}

/************ DISEÑO DE CARTAS Y GRILLA *************/
.pokemon-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 15px;
    justify-items: center;
    max-height: 70vh;
    overflow-y: auto;
}

.carta {
    position: relative;
    width: 180px;
    background-color: black;
    box-shadow: 0 0 15px gray;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transform: scale(1);
    transition: transform .3s;
}

.carta.seleccionada {
    background-color: rgba(255, 0, 0, 0.5) !important;
}

.carta:hover {
    animation: rotate 5s infinite;
    box-shadow: 0 0 15px black;
}

@keyframes rotate {
    0% { transform: scale(1.1); }
    25% { transform: rotateY(-40deg) scale(1.1); }
    75% { transform: rotateY(40deg) scale(1.1); }
    100% { transform: scale(1.1); }
}

.carta img {
    width: 100%;
    background-color: lightblue;
    box-shadow: inset 0 0 10px gray;
    border-radius: 5px;
}

.carta div {
    background-color: whitesmoke;
    box-shadow: inset 0 0 10px gray;
    text-transform: capitalize;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    padding: 10px 0 10px 0;
}

/************ EQUIPO SELECCIONADO *************/
.selected-team {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

/************ BOTONES DE BATALLA *************/
.start-battle {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.start-battle button {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    background-color: yellow;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.start-battle button:hover {
    background-color: orange;
}

/************ CAMPO DE BATALLA *************/
.battlefield {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    height: 100vh;
    width: 100vw;
    background-color: #f4f4f4;
    padding: 20px;
    overflow: hidden;
}

/************ LISTA DE EQUIPOS *************/
.player-team {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    width: 120px;
    height: 85vh;

}

.rival-team {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    width: 120px;
    height: 85vh;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10; /* Asegura que los Pokémon estén encima */
}

.rival-team {
    position: absolute;
    right: 10px;
}

.player-team {
    margin-left: 20px;
}

/************ CARTAS DE POKÉMON *************/
.pokemon-entry img {
    width: 80px;
    height: auto;
    margin-bottom: 5px;
}

/************ CARTA DE POKÉMON COMBATIENTE *************/
.fight-card {
    position: relative;
    width: 250px; /* Ancho aumentado */
    height: 350px; /* Altura aumentada */
    background-color: var( --card-color, lightgray);
    box-shadow: 0 0 15px gray;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.fight-card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px black;
}

.fight-card img {
    width: 100%;
    background-color: lightblue;
    box-shadow: inset 0 0 10px gray;
    border-radius: 5px;
}

.fight-card div {
    background-color: whitesmoke;
    box-shadow: inset 0 0 10px gray;
    text-transform: capitalize;
    font-weight: bold;
    padding: 5px;
}

.fight-card.fire { --card-color: #ff7043; } /* Naranja */
.fight-card.water { --card-color: #42a5f5; } /* Azul */
.fight-card.grass { --card-color: #66bb6a; } /* Verde */
.fight-card.electric { --card-color: #ffeb3b; } /* Amarillo */
.fight-card.psychic { --card-color: #ec407a; } /* Rosa */
.fight-card.rock { --card-color: #8d6e63; } /* Marrón */
.fight-card.ghost { --card-color: #7e57c2; } /* Púrpura */
.fight-card.dark { --card-color: #424242; } /* Gris oscuro */
.fight-card.dragon { --card-color: #0288d1; } /* Azul más oscuro */
.fight-card.bug { --card-color: #8bc34a; } /* Verde claro */
.fight-card.poison { --card-color: #9c27b0; } /* Morado */
.fight-card.fairy { --card-color: #ffab91; } /* Rosa claro */
.fight-card.fighting { --card-color: #ef5350; } /* Rojo */
.fight-card.steel { --card-color: #78909c; } /* Gris */
.fight-card.flying { --card-color: #90a4ae; } /* Gris azulado */
.fight-card.ice { --card-color: #4fc3f7; } /* Azul claro */
.fight-card.normal { --card-color: #a1887f; } /* Marrón claro */
.fight-card.ground { --card-color: #d4e157; } /* Verde lima */

.fight-card .stats {
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding-bottom: 45px;
    border-radius: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
}


/************ BARRA DE VIDA *************/
.health-bar {
    width: 80px;
    height: 10px;
    border-radius: 5px;
    margin-top: 5px;
    border: 1px solid black;
    transition: width 0.5s ease-in-out;
}


.health-bar.green {
    background-color: green;
}

.health-bar.orange {
    background-color: orange;
}

.health-bar.red {
    background-color: red;
}

.hp-info {
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px black;
}

.hp-display {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    background: rgba(255, 255, 255, 0.7);
    padding: 5px 10px;
    border-radius: 5px;
}

/************ ZONA DE BATALLA *************/
.battle-zone {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 90vh;
}

.pokemon-battle {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    gap: 60px; /* Más separación entre cartas */
}

.pokemon-battle .fight-card:first-child {
    margin-right: 160px;
}


/************ TEXTO DE ATAQUES *************/
.battle-log {
    text-align: center;
    background-color: white;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px gray;
    width: 60%;
}


/************ ANIMACIÓN DE ENFRENTAMIENTO *************/
.battle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    overflow: hidden;
}

/************ BOTONES ATAQUE *************/
.attack-buttons {
    position: absolute;
    bottom: 10px;
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.attack-buttons button {
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    background-color: yellow;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.attack-buttons button:hover {
    background-color: orange;
}

/************ REINICIAR COMBATE *************/

.restart-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.restart-button {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.restart-button:hover {
    background-color: darkred;
}



/************ ANIMACIONES *************/
@keyframes appear {
    0% { opacity: 0; transform: scale(0); }
    50% { opacity: 1; transform: scale(2); }
    100% { transform: scale(1); }
}

.vs-text, .vs-fight {
    position: absolute;
    font-size: 100px; /* Aumentado el tamaño */
    font-weight: bold;
    color: red;
    opacity: 1;
    animation: appear 1.5s forwards;
    top: 30%; /* Centrado */
    left: 45%;
    transform: translate(-50%, -50%);
}

.vs-fight {
    left: 42%;
}

.vs-text {
   top: 36%;
}

.player-trainer {
    position: absolute;
    width: 200px;
    animation: moveL 3s forwards;
    opacity: 0;
    margin-right: 50px;
}

.rival-trainer {
    position: absolute;
    width: 200px;
    animation: moveR 3s forwards;
    opacity: 0;
}

@keyframes moveL {
    0% {
        transform: translateX(-1000%);
        opacity: 0;
    }

    100% {
        transform: translateX(-100%);
        opacity: 1;
    }
}

@keyframes moveR {
    0% {
        transform: translateX(1000%);
        opacity: 0;
    }

    100% {
        transform: translateX(100%);
        opacity: 1;
    }
}