* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


h1#temporizador {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

#marcador {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.puntuacion {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    margin: 0 5px;
}

.acierto {
    background-color: blue;
    border-radius: 50%;
}

.fallo {
    background-color: red;
    border-radius: 50%;
}

#menu {
    background-color: #e9e9e9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

#juego {
    background-color: #e9e9e9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    height: 70%;
    position:relative;
    cursor: url('../img/cursorr.png');
}

#menu p {
    margin-bottom: 10px;
}

input[type="number"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

#botones {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.eliminarTodas {
    background-color: white;
    border: 1px solid black;
}

.eliminarTodas:hover, .eliminarColor:hover, .jugar:hover {
    background-color: cyan;
}

.eliminarColor {
    background-color: white;
    border: 1px solid black;
}

.jugar {
    background-color: #ccc;
    border: 1px solid black;
}

.pelota {
    position: absolute;
    border-radius: 50%; /* Hacer que la pelota sea redonda */
    background-color: yellow;
    border: 2px solid black; /* Opcional: borde */
}