<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Pokemon Battle</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
</head>

<body>
    <div id="app">
        <!-- Agrega esto justo después del <div id="app"> en index.html -->
        <div v-if="!audioEnabled" class="audio-start">
            <button @click="enableAudio" class="start-button">
                🎵 Iniciar Juego con Música
            </button>
        </div>
        <!-- Menú de selección de modo de juego -->
        <div v-if="!gameModeSelected" class="game-mode-selection">
            <h2>Selecciona el modo de juego</h2>
            <button @click="selectGameMode('IA')">Jugador vs IA</button>
            <button @click="selectGameMode('J2')">Jugador vs Jugador</button>
        </div>

        <!-- Menú de selección de personajes -->
        <div v-if="gameModeSelected && !charactersSelected" class="character-selection">
            <h2>Elige tu entrenador y tu rival</h2>
            <div class="character-container">
                <div class="character-box">
                    <h3>Jugador 1</h3>
                    <button @click="prevCharacter('player')">&#60;</button>
                    <img :src="'img/' + characters[playerCharacter]" :alt="characters[playerCharacter]">
                    <button @click="nextCharacter('player')">&#62;</button>
                </div>
                <div class="character-box">
                    <h3>Jugador 2</h3>
                    <button @click="prevCharacter('rival')">&#60;</button>
                    <img :src="'img/' + characters[rivalCharacter]" :alt="characters[rivalCharacter]">
                    <button @click="nextCharacter('rival')">&#62;</button>
                </div>
            </div>
            <button class="start-game" @click="charactersSelected = true; showPokemonModal = true"
                :disabled="playerCharacter === rivalCharacter">Confirmar</button>
        </div>

        <!-- Modal de selección de Pokémon -->
        <div v-if="showPokemonModal" class="modal-container">
            <div class="modal modal-large">
                <h2>{{ modalTitle }}</h2>
                <div class="start-battle">
                    <button @click="fillRandomTeam">Seleccionar equipo aleatorio</button>
                </div>
                <div class="selected-team">
                    <div v-for="(pokemon, index) in currentPlayerTeam" :key="index" class="carta"
                        @click="removePokemon(index)">
                        <img :src="pokemon.sprite" :alt="pokemon.name">
                        <div>{{ pokemon.name }}</div>
                    </div>
                </div>

                <div class="filters" v-if="currentPlayerTeam.length < 6">
                    <input type="text" v-model="searchQuery" class="pokemon-input" placeholder="Buscar Pokémon...">
                    <select v-model="selectedType" class="pokemon-dropdown">
                        <option value="">Todos los tipos</option>
                        <option value="fire">🔥 Fuego</option>
                        <option value="water">💧 Agua</option>
                        <option value="grass">🌿 Planta</option>
                        <option value="electric">⚡ Eléctrico</option>
                        <option value="ice">❄️ Hielo</option>
                        <option value="fighting">🥊 Lucha</option>
                        <option value="poison">☠️ Veneno</option>
                        <option value="ground">🏜️ Tierra</option>
                        <option value="flying">🕊️ Volador</option>
                        <option value="psychic">🔮 Psíquico</option>
                        <option value="bug">🐞 Bicho</option>
                        <option value="rock">🪨 Roca</option>
                        <option value="ghost">👻 Fantasma</option>
                        <option value="dragon">🐉 Dragón</option>
                        <option value="dark">🌑 Siniestro</option>
                        <option value="steel">🔩 Acero</option>
                        <option value="fairy">✨ Hada</option>
                    </select>
                </div>

                <div class="pokemon-grid" v-if="currentPlayerTeam.length < 6">
                    <div v-for="pokemon in filteredPokemons" :key="pokemon.id" class="carta"
                        :class="{ 'seleccionada': currentPlayerTeam.includes(pokemon) }"
                        @click="selectPokemon(pokemon)">
                        <img :src="pokemon.sprite" :alt="pokemon.name">
                        <div>{{ pokemon.name }}</div>
                    </div>
                </div>

                <div class="start-battle">
                    <button v-if="currentPlayerTeam.length === 6" @click="confirmTeamSelection()" class="Button">
                        {{ currentPlayer === 1 ? 'Confirmar equipo Jugador 1' : '¡A LUCHAR!' }}
                    </button>
                </div>
            </div>
        </div>

        <!-- Animación de enfrentamiento -->
        <div v-if="battleStarted && !battlefieldShown" class="battle-container">
            <img :src="'img/' + characters[playerCharacter]" class="player-trainer">
            <h1 class="vs-text">VS</h1>
            <img :src="'img/' + characters[rivalCharacter]" class="rival-trainer">
        </div>

        <!-- Campo de batalla -->
        <div v-if="battlefieldShown" class="battlefield">
            <div class="player-team">
                <div v-for="(pokemon, index) in selectedPokemonsPlayer1" 
                :key="pokemon.id" 
                class="pokemon-entry"
                :class="{ disabled: pokemon.hp <= 0 }"
                 @click="selectBattlePokemon(1, index)">
                    <img :src="pokemon.sprite" :alt="pokemon.name">
                    <div class="health-bar" :class="getHealthClass(pokemon)"
                        :style="{ width: getHealthPercentage(pokemon) + '%' }"></div>
                </div>
            </div>

            <div class="battle-zone">
                <div class="pokemon-battle">
                    <!-- Carta del Pokémon Jugador 1 -->
                    <div class="fight-card" :class="currentPokemonPlayer1 ? currentPokemonPlayer1.types[0] : ''">
                        <div class="hp-display" v-if="currentPokemonPlayer1">
                            {{ currentPokemonPlayer1.hp }} / {{ currentPokemonPlayer1.maxHp }}
                        </div>
                        <img v-if="currentPokemonPlayer1" :src="currentPokemonPlayer1.sprite"
                            :alt="currentPokemonPlayer1.name">
                        <p class="stats" v-if="currentPokemonPlayer1">
                            ATK: {{ currentPokemonPlayer1.attack }} | DEF: {{ currentPokemonPlayer1.defense }}
                        </p>
                        <div class="attack-buttons" v-if="currentPokemonPlayer1 && activePlayer === 1">
                            <button v-for="(move, index) in currentPokemonPlayer1.moves" 
                                    :key="index"
                                    @click="attack(move)"
                                    :disabled="activePlayer !== 1">
                                {{ move.name }} <br> ({{ move.power }})
                            </button>
                        </div>
                    </div>
            
                    <h1 class="vs-fight">VS</h1>
            
                    <!-- Carta del Pokémon Jugador 2 -->
                    <div class="fight-card" :class="currentPokemonPlayer2 ? currentPokemonPlayer2.types[0] : ''">
                        <div class="hp-display" v-if="currentPokemonPlayer2">
                            {{ currentPokemonPlayer2.hp }} / {{ currentPokemonPlayer2.maxHp }}
                        </div>
                        <img v-if="currentPokemonPlayer2" :src="currentPokemonPlayer2.sprite"
                            :alt="currentPokemonPlayer2.name">
                        <p class="stats" v-if="currentPokemonPlayer2">
                            ATK: {{ currentPokemonPlayer2.attack }} | DEF: {{ currentPokemonPlayer2.defense }}
                        </p>
                        <div class="attack-buttons" v-if="currentPokemonPlayer2 && activePlayer === 2 && !isAI">
                            <button v-for="(move, index) in currentPokemonPlayer2.moves" 
                                    :key="index"
                                    @click="attack(move)"
                                    :disabled="activePlayer !== 2">
                                {{ move.name }} <br> ({{ move.power }})
                            </button>
                        </div>
                    </div>
                </div>

                <div class="battle-log">
                    <p>{{ battleLog }}</p>
                </div>

                <div v-if="gameOver" class="restart-container">
                    <button @click="restartGame()" class="restart-button">Volver a jugar</button>
                </div>
            </div>

            <div class="rival-team">
                <div v-for="(pokemon, index) in selectedPokemonsPlayer2" 
                     :key="pokemon.id" 
                     class="pokemon-entry"
                     :class="{ 'disabled': pokemon.hp <= 0 }"
                     @click="gameMode !== 'IA' && selectBattlePokemon(2, index)">
                    <img :src="pokemon.sprite" :alt="pokemon.name">
                    <div class="health-bar" 
                         :class="getHealthClass(pokemon)"
                         :style="{ width: getHealthPercentage(pokemon) }">
                    </div>
                </div>
            </div>
        </div>
        <audio id="Inicio" src="audio/Inicio.mp3" loop></audio>
        <audio id="Combate" src="audio/Combate.mp3" loop></audio>
        <audio id="Victoria" src="audio/Victoria.mp3" loop></audio>
    </div>
    <script src="js/scripts.js"></script>
</body>

</html>