<html>

<head>
    <meta charset="UTF-8">
    <title>Pokemon Battle</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="app">
        <div v-if="!gameModeSelected" class="game-mode-selection">
            <h2>Selecciona el modo de juego</h2>
            <button @click="selectGameMode('IA')">Contra IA</button>
            <button @click="selectGameMode('J2')">Jugador vs Jugador</button>
        </div>

        <!-- Menú de selección de personajes en línea -->
        <div v-if="gameModeSelected && !charactersSelected" class="character-selection">
            <h2>Elige tu entrenador y tu rival</h2>
            <div class="character-container">
                <div class="character-box">
                    <h3>Tu entrenador</h3>
                    <button @click="prevCharacter('player')">&#60;</button>
                    <img :src="'img/' + characters[playerCharacter]" :alt="characters[playerCharacter]">
                    <button @click="nextCharacter('player')">&#62;</button>
                </div>
                <div class="character-box">
                    <h3>Tu rival</h3>
                    <button @click="prevCharacter('rival')">&#60;</button>
                    <img :src="'img/' + characters[rivalCharacter]" :alt="characters[rivalCharacter]">
                    <button @click="nextCharacter('rival')">&#62;</button>
                </div>
            </div>
            <button class="start-game" @click="charactersSelected = true; showPokemonModal = true"
                :disabled="playerCharacter === rivalCharacter">Confirmar</button>
        </div>

        <!-- Modal de selección de Pokémon -->
        <div v-if="showPokemonModal" class="modal-container">
            <div class="modal modal-large">
                <h2 v-if="selectedPokemonsPlayer.length < 6">Selecciona 6 Pokémon</h2>
                <h2 v-if="selectedPokemonsPlayer.length === 6">Equipo seleccionado</h2>
                <div class="start-battle">
                    <button @click="fillRandomTeam">Seleccionar equipo aleatorio</button>
                </div>
                <div class="selected-team">
                    <div v-for="(pokemon, index) in selectedPokemonsPlayer" :key="index" class="carta"
                        @click="removePokemon(index)">
                        <img :src="pokemon.sprite" :alt="pokemon.name">
                        <div>{{ pokemon.name }}</div>
                    </div>
                </div>

                <div class="filters" v-if="selectedPokemonsPlayer.length < 6">
                    <input type="text" v-model="searchQuery" class="pokemon-input" placeholder="Buscar Pokémon...">
                    <select v-model="selectedType" class="pokemon-dropdown">
                        <option value="">Todos los tipos</option>
                        <option value="fire">🔥 Fuego</option>
                        <option value="water">💧 Agua</option>
                        <option value="grass">🌿 Planta</option>
                        <option value="electric">⚡ Eléctrico</option>
                        <option value="ice">❄️ Hielo</option>
                        <option value="fighting">🥊 Lucha</option>
                        <option value="poison">☠️ Veneno</option>
                        <option value="ground">🏜️ Tierra</option>
                        <option value="flying">🕊️ Volador</option>
                        <option value="psychic">🔮 Psíquico</option>
                        <option value="bug">🐞 Bicho</option>
                        <option value="rock">🪨 Roca</option>
                        <option value="ghost">👻 Fantasma</option>
                        <option value="dragon">🐉 Dragón</option>
                        <option value="dark">🌑 Siniestro</option>
                        <option value="steel">🔩 Acero</option>
                        <option value="fairy">✨ Hada</option>
                    </select>
                </div>

                <div class="pokemon-grid" v-if="selectedPokemonsPlayer.length < 6">
                    <div v-for="pokemon in filteredPokemons" :key="pokemon.id" class="carta"
                        :class="{ 'seleccionada': selectedPokemonsPlayer.includes(pokemon) }"
                        @click="selectPokemon(pokemon)">
                        <img :src="pokemon.sprite" :alt="pokemon.name">
                        <div>{{ pokemon.name }}</div>
                    </div>
                </div>

                <div class="start-battle">
                    <button v-if="selectedPokemonsPlayer.length === 6" @click="startBattle()" class="Button">¡A
                        LUCHAR!</button>
                </div>
            </div>
        </div>

        <!-- Animación de enfrentamiento -->
        <div v-if="battleStarted && !battlefieldShown" class="battle-container">
            <img :src="'img/' + characters[playerCharacter]" class="player-trainer">
            <h1 class="vs-text">VS</h1>
            <img :src="'img/' + characters[rivalCharacter]" class="rival-trainer">
        </div>

        <!-- Campo de batalla -->
        <div v-if="battlefieldShown" class="battlefield">
            <div class="player-team">
                <div v-for="pokemon in selectedPokemonsPlayer" :key="pokemon.id" class="pokemon-entry">
                    <img :src="pokemon.sprite" :alt="pokemon.name">
                    <div class="health-bar" :class="getHealthClass(pokemon)"
                        :style="{ width: getHealthPercentage(pokemon) + '%' }"></div>
                </div>
            </div>

            <div class="battle-zone">
                <div class="pokemon-battle">
                    <!-- Carta del Pokémon Jugador -->
                    <div class="fight-card" :class="currentPokemonPlayer ? currentPokemonPlayer.types[0] : ''">
                        <div class="hp-display">
                            {{ currentPokemonPlayer.hp }} / {{ currentPokemonPlayer.maxHp }}
                        </div>
                        <img v-if="currentPokemonPlayer" :src="currentPokemonPlayer.sprite"
                            :alt="currentPokemonPlayer.name">
                        <p class="stats" v-if="currentPokemonPlayer">ATK: {{ currentPokemonPlayer.attack }} | DEF: {{
                            currentPokemonPlayer.defense }}</p>

                        <!-- BOTONES DE MOVIMIENTOS -->
                        <div class="attack-buttons" v-if="currentPokemonPlayer && currentPokemonPlayer.moves && currentPokemonPlayer.moves.length > 0">
                            <button v-for="(move, index) in currentPokemonPlayer.moves" :key="index"
                                @click="attack(move)" :disabled="!isPlayerTurn">
                                {{ move.name }} <br> ({{ move.power }})
                            </button>

                        </div>
                    </div>

                    <h1 class="vs-fight">VS</h1>

                    <!-- Carta del Pokémon Rival -->
                    <div class="fight-card" :class="currentPokemonRival ? currentPokemonRival.types[0] : ''">
                        <div class="hp-display">
                            {{ currentPokemonRival.hp }} / {{ currentPokemonRival.maxHp }}
                        </div>
                        <img v-if="currentPokemonRival" :src="currentPokemonRival.sprite"
                            :alt="currentPokemonRival.name">
                        <p class="stats" v-if="currentPokemonRival">ATK: {{ currentPokemonRival.attack }} | DEF: {{
                            currentPokemonRival.defense }}</p>

                        <!-- BOTONES DE MOVIMIENTOS DEL RIVAL (DESHABILITADOS) -->
                        <div class="attack-buttons">
                            <button v-for="(move, index) in currentPokemonRival.moves" :key="index" disabled>
                                {{ move.name }} <br> ({{ move.power }})
                            </button>


                        </div>
                    </div>
                </div>
                <div class="battle-log">
                    <p>{{ battleLog }}</p>
                </div>
                <!-- BOTÓN PARA REINICIAR EL JUEGO -->
                <div v-if="gameOver" class="restart-container">
                    <button @click="restartGame()" class="restart-button">Volver a jugar</button>
                </div>
            </div>

            <div class="rival-team">
                <div v-for="pokemon in selectedPokemonsRival" :key="pokemon.id" class="pokemon-entry">
                    <img :src="pokemon.sprite" :alt="pokemon.name">
                    <div class="health-bar" :class="getHealthClass(pokemon)"
                        :style="{ width: getHealthPercentage(pokemon) + '%' }"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/scripts.js"></script>
</body>

</html>